//Breadcrumb
.breadcrumb__menu{
  padding: $gutter;
  li{
    display: inline;
    font-size: 12px;
    text-transform: uppercase;

    +li:before{
      display: inline-block;

      color: $dark-grey;
      content: "/\00a0";
    }
    a{
      color: $grey;
      &:hover{
        color: $dark-grey;
        text-decoration: underline;
      }
    }
  }

}